body {
	width: 2000px;
	background-color: #edeff1;
}
header {
	overflow: hidden;
	width: 1165px;
	margin: 0 auto;
}
.logo {
	float: left;
	margin: 40px 380px 60px 0;
}
.logo a {
	text-decoration: none;
}
header h1{
	color: #31353e;
	font-family: RobotoSlab;
	font-size: 36px;
	font-weight: 700;
}
header h2 {
	color: #dd4b2b;
	font-family: RobotoSlab;
	font-size: 16px;
	font-weight: 400;
}
.nav {
	overflow: hidden;
	display: block;
	padding: 60px 0;
}
.nav li{
	display: inline-block;
}
.nav li a {
	text-decoration: none;
	font-family: RobotoSlab;
	font-size: 18px;
	font-weight: 400;
	color: #31353e;
	padding: 14px 22px;
}
.nav .active a {
	color: #edeff1;
	border-radius: 25px;
	background-color: #dd4b2b;
}
.nav li a:hover {
	color: #edeff1;
	width: 144px;
	height: 49px;
	border-radius: 25px;
	background-color: #dd4b2b;
}
.main {
	background-image: url(../images/main-background.png);
}
.main .wrapper {
	overflow: hidden;
	width: 1256px;
	margin: 0 auto;
}
.main .heading h1 {
	color: white;
	font-family: RobotoSlab;
	font-size: 72px;
	font-weight: 300;
	text-align: center;
	padding-top: 490px;
}
.main .heading h2 {
	color: white;
	text-align: center;
	font-family: RobotoSlab;
	font-size: 30px;
	font-weight: 700;
	padding-bottom: 120px;
}
.main .articles {
	display: table;
	margin: 0 auto;
}
.main .article1,
.main .article2,
.main .article3 {
	display: table-cell;
	padding: 0 40px;
}
.main .article1 img,
.main .article2 img,
.main .article3 img {
	padding-left: 90px;
}
.main .article1 h2 {
	width: 141px;
	color: white;
	font-family: RobotoSlab;
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
}
.main .article2 h2 {
	width: 215px;
	color: white;
	font-family: RobotoSlab;
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
}
.main .article3 h2 {
	width: 176px;
	color: white;
	font-family: RobotoSlab;
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
}
.main .article1 p,
.main .article2 p,
.main .article3 p {
	width: 340px;
	color: white;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	text-align: center;
}
.main .button {
	width: 213px;
	padding: 60px 0 160px 60px;
	margin: 0 auto;
}
.main .button a{
	text-decoration: none;
	background-color: white;
	border-radius: 27px;
	font-family: Roboto;
	color: #612316;
	font-size: 18px;
	font-weight: 400;	
	text-align: center;
	padding: 10px 30px;
	margin-top: 60px;
}
.news .wrapper {
	overflow: hidden;
	width: 1165px;
	margin: 0 auto;
}
.news .wrapper h1{
	color: #31353e;
	font-family: RobotoSlab;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	padding-top: 60px;
}
.news .news_article {
	margin: 0 auto;
	width: 380px;
	float: left;
	padding-top: 40px;
	padding-right: 8px;
}
.news .news_article h2{
	text-align: center;
	font-family: RobotoSlab;
	font-size: 24px;
	font-weight: 700;
	padding-top: 14px;
	color: #31353e;
}
.news .news_article p {
	color: #31353e;
	width: 300px;
	margin: 0 auto;
	text-align: center;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
}
.news .button {
	width: 179px;
	padding: 40px 0 140px 60px;
	margin: 0 auto;
}
.news .button a {
	text-decoration: none;
	background-color: white;
	border-radius: 27px;
	color: #4e5159;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;	
	text-align: center;
	padding: 10px 30px;
}
.newsletter {
	overflow: hidden;
	background-image: url(../images/newsletter.png);
	background-position: 50% 100%;
	height: 384px;
	color: white;
	text-align: center;
}
.newsletter .wrapper {
	overflow: hidden;
	width: 1169px;
	margin: 0 auto;
}
.newsletter .wrapper h1{
	color: white;
	font-family: RobotoSlab;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	padding-top: 60px;
}
.newsletter .wrapper p {
	width: 533px;
	margin: 0 auto;
	padding: 20px 0 40px 0;
	color: white;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300px;
	line-height: 24px;
}
.newsletter form {
	width: 508px;
	margin: 0 auto;
}
.newsletter form input[type="email"] {
	padding: 10px 80px 10px 10px;
	border-radius: 27px;
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.5);
	float: left;
	margin-left: 50px;
}
.newsletter form input[placeholder] {
	font-family: RobotoSlab;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
} 
::-webkit-input-placeholder {
	color: #f3f4f6;
}
:-moz-placeholder {
	color: #f3f4f6;
}
::-moz-placeholder {
	color: #f3f4f6;
}
:-ms-input-placeholder {
	color: #f3f4f6;
}
button {
	color: #612316;
	font-family: RobotoSlab;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	padding: 10px 70px;
	border-radius: 27px;
	border: 1px solid white;
	background-color: white;
	position: relative;
	margin-left: -150px;
}
.info {
	background-color: white;
}
.info .wrapper {
	overflow: hidden;
	width: 1215px;
	margin: 0 auto;
}
.info .wrapper article {
	margin-top: 50px;
	margin-bottom: 100px;
}
.info .wrapper .content1 {
	overflow: hidden;
	width: 50%;
	float: left;
	margin-top: 50px;
}
.info .wrapper .content1 h1,
.info .wrapper .content2 h1{
	color: #191b29;
	font-family: RobotoSlab;
	font-size: 30px;
	font-weight: 700;
	line-height: 48px;
}
.info .wrapper .content1 p,
.info .wrapper .content2 p {
	color: #191b29;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 30px;
}
.info .wrapper .button1 a,
.info .wrapper .button2 a {
	text-decoration: none;
	background-color: #dd4b2b;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 27px;
	color: white;
	font-family: RobotoSlab;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	padding: 10px 30px;
}
.info .wrapper .content1_image{
	overflow: hidden;
	float: right;
}
.info .wrapper .content2 {
	overflow: hidden;
	width: 50%;
	float: right;
	margin-top: 80px;
}
.info .wrapper .content2_image {
	float: left;
}
.info .wrapper .button2 a {
	background-color: #4b4e73;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
.list {
	overflow: hidden;
	background-color: #d75d0e;
}
.list .wrapper {
	overflow: hidden;
	width: 1240px;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 60px;
}
.list .wrapper li {
	display: inline-block;
	width: 400px;
	font-family: Roboto;
    font-size: 18px;
    color: white;
    font-weight: 400;
    line-height: 36px;
    vertical-align: top;
    text-align: center;
}
footer {
	background-image: url(../images/newsletter.png);
	background-position: 50% 100%;
	height: 382px;
	text-align: center;
}
footer .wrapper {
	width: 1165px;
	margin: 0 auto;
	padding-top: 100px;
}
footer .wrapper p {
	color: white;
	font-family: ProximaNova;
	font-size: 18px;
	line-height: 24px;
}
footer .wrapper a {
	text-decoration: none;
	color: white;
	font-family: ProximaNova;
	font-size: 18px;
	font-weight: 700;
}