body {
	width: 100%;
	background: linear-gradient(to bottom, #CED7D9 3%, #E5EAEB 10%, #EAEEEF 15%, #FFFFFF 30%);
}
.wrapper {
	margin: 0 auto;
	width: 960px;
}
.header {
    overflow: hidden;
}
.header img {
	float: left;
	padding-bottom: 30px;
}
.logo {
	float: left;
	width: 300px;
}
.logo span {
	width: 120px;
	padding-top: 30px;
	float: left;
	font: 21px Myriad Pro;
	color: #939597;
}
.header_part {
	padding: 30px 0;
}
h1 {
	font: 15px Myriad Pro;
	color: #646464;
	float: right;
	padding: 30px 70px 30px 0;
}
.forms{
	width: 160px;
	background-color: white;
	border-radius: 20px;
	float: right;
	text-align: center;
	margin-top: -5px;
	padding: 5px;
}
.forms li {
	display: inline-block;
}
.forms li a{
	text-decoration: none;
	font: 11px Arial;
	color: #737373;
	line-height: 25px;
}
.forms span {
	padding-right: 5px;
	border-right: 1px solid #737373;
}
.forms li a.active,
.forms li a:hover {
	color: #45B7FA;
}
.nav {
	border-bottom: 1px solid gray;
	padding-bottom: 128px;
}
.nav ul {
	float: right;
	width: 450px;
}
.nav .active {
	background: #E5EAEB;
	padding-bottom: 16px;
	border-radius: 20px 0 0 0;
}
.nav ul li:last-child {
	border-radius: 0 20px 0 0;
}
.nav ul li {
	border: 1px solid #939598;
    border-bottom: none;
    padding: 15px;
    width: 100px;
    text-align: center;
    float: left;
	background-color: #6B6765;
}
.nav a {
	text-decoration: none;
	color: #939597;
	font: 16px Arial;
}
.nav .active a {
	color: #03A7FD;
	border-radius: 20px 0 0 0;
}
.sidebar_left {
	overflow: hidden;
	float: left;
	width: 200px;
	margin-right: 50px;
}
.sidebar_left h3 {
	font: 20px Arial;
	color: #03A7FD;
	padding-top: 20px;
}
.sidebar_left ul{
	padding: 20px 0;
}
.sidebar_left .category-list ul {
	list-style-image: url(../images/arrow.png);
	list-style-position: inside;
}
.sidebar_left .category-list li {
	border-bottom: 1px solid gray;
	list-style-image: url(../images/arrow.png);
	list-style-position: inside;
}
.sidebar_left .category-list li a{
	text-decoration: none;
	font: 14px Arial;
	color: #545454;
	line-height: 30px;
}
.sidebar_left .category-list .last_category {
	border-bottom: none;
	padding-bottom: 30px;
}
.fa-arrow-right {
	color: #03A7FD;
	padding-right: 10px;
}
.sidebar_left .company_icons {
	padding-left: 30px;
}
.sidebar_left .company_icons li{
	padding-bottom: 20px;
}
.sidebar_left .rss {
	 border-bottom: 1px solid gray;
	 border-top: 1px solid gray;
	 padding: 20px 20px;
	 text-align: center;
}
.sidebar_left .rss span {
	padding: 5px 30px;
	font: 21px Myriad Pro;
	border: 2px solid #FFA018;
	border-radius: 18px;
}
.sidebar_left .rss a {
	color: #FFA018;
	text-decoration: none;
}
.content {
	overflow: hidden;
	width: 700px;
	padding-top: 55px;
}
.content h2 {
	font: 25px Arial;
	color: #000000;
	margin-bottom: 10px;
}
.data {
	margin-bottom: 14px;
	border-top: 1px solid #03A7FD;
}
.logo_kyosho {
	padding: 20px 20px 0 10px;
	float: left;
}
.company_info {
	overflow: hidden;
}
.company_info h3 {
	font: 22px Arial;
	color: #03A7FD;
	padding-top: 20px;
}
.company_info dl {
	width: 100%;
}
.company_info dt {
	float: left;
	background-color: #DFE5E6;
	padding: 6px 10px;
	margin-top: 3px;
	font: 12px Arial;
	color: #505050;
	width: 46.47%;
}
.company_info dd {
	float: right;
	position: relative;
	width: 46.49%;
	background-color: #DFE5E6;
	margin-top: 3px;
	font: 12px Arial;
	color: #505050;
	padding: 6px 10px;
}
.company_info .contacts,
.company_info .contacts_gray{
	width: 100%;
	margin-top: 0;
	padding-left: 295px;
	float: left;
}
.company_info .contacts_gray{
	background-color: #F0F0F0;
}
.company_info dd a {
	text-decoration: none;
	color: #03A7FD;
} 
.footer {
	margin-top: 150px;
	border-top: 1px solid #B5B6B7;
}
.copyright ul {
	background-color: #D9DADA;
	width:500px;
	height: 30px;
	float: right;
	margin-right: 20px;
	line-height: 25px;
	padding: 0 10px;
	border-radius: 0 0 15px 15px;
	margin-bottom: 30px;
}
.copyright a {
	text-decoration: none;
	color: black;
}
.copyright li {
	display: inline;
	font: 10px Arial;
	color: #77797B;
}
.copyright li img {
	float: right;
	padding-top: 5px;
}
