.description {
  background-color: #ffca26;

  img {
	  margin: 0 auto;
	}

	p {
	  width: 74%;
	  margin: 0 auto;
	  padding-top: 22px;
	  font-size: 2.2rem;
	  color: white;
	  line-height: 30px;
	}
}