.team {
	.info {
		div {
		  font-size: 3rem;
		  padding: 30px 0 20px;
		}
		span {
		  color: #ccc;
		  font-size: 1.4rem;
		  text-transform: uppercase;
		}
		.social-nets a {
		  width: 39px;
		  height: 39px;
		  font-size: 2rem;
		}
	}
}