.workflow {
	.content {
		.icon {
			float: left;
			margin-right: 20px;
		}
	}
	h2 {
	  font-size: 2rem;
	  line-height: 20px;
	  padding: 20px 0;
	  text-transform: uppercase;
	}
	p {
		color: #666;
	}
}